@import "./mixin";
@import "./fonts.scss";
@import "./animations";

* {
  font-family: BMJUA;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  main {
    // display: flex;
    flex-direction: column;
    width: 100%;
    header {
      display: flex;
      justify-content: center;
      height: 50px;
      align-items: center;
      font-size: 3.5rem;
    }
    section {
      width: 100%;
      height: calc((100vh - 50px) / 2);
      .option_box {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        .option_tap {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          .option_title {
            width: 10rem;
            font-size: 1.7rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          select,
          input {
            font-size: 1rem;
            width: 30%;
            text-align: center;
            padding: 1rem 0;
            border-radius: 1rem;
            border: solid 1px black;
          }
          &:nth-child(4) {
            display: flex;
            .option_input_container {
              width: 30%;
              div {
                position: relative;
                display: flex;
                align-items: center;
                &:first-child {
                  margin-bottom: 0.8rem;
                }
                .option_tooltip {
                  visibility: hidden;
                  right: 80%;
                  position: absolute;
                  opacity: 0;
                  transition: all ease-in-out 0.2s;
                  font-size: 1rem;
                  white-space: nowrap;
                }
                input {
                  width: 100%;
                }
              }
              &:focus-within {
                .option_tooltip {
                  visibility: visible;
                  opacity: 1;
                  right: 105%;
                }
              }
            }
          }
        }
      }
      &:last-child {
        width: 100%;
        background-color: #ff9999;
      }
    }
  }
}
@include mobile {
  html {
    font-size: 62.5%;
  }
}
@include tablet {
  html {
    font-size: 73%;
  }
}
@include desktop {
  html {
    font-size: 85%;
  }
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

// TODO 요거
.submit_btn {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submit_btn:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .submit_btn {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}
