main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
}
header {
  background-color: white;
  border-radius: 20px;
  text-align: center;
  font-size: 25px;
  padding: 15px;
  box-shadow: 0px 5px 3px -5px black;
  margin-bottom: 25px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}
.option_title {
  text-align: center;
  width: 25%;
  font-weight: bold;
  padding: 10px;
}
.option_box {
  padding: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
select {
  width: 150px;
  text-align: center;
  padding: 3px 0px;
  text-align-last: center;
  border: 0.5px black solid;
  border-radius: 50px;
  transition: padding 0.2s ease-in-out;
}
input:focus-within,
select:focus-within {
  padding: 10px;
}

input:focus,
select:focus {
  outline: none;
  border: 2px solid tomato;
}

.submit_btn input {
  padding: 10px;
  background-color: white;
  transition: all 0.3s linear;
}

input {
  margin: 3px 0px;
}

.option_tap {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.option_tap:focus-within {
  margin: 5px 0px;
  padding: 10px;
  box-shadow: 2px 1px 5px -5px black;
  background-color: white;
}

.option_tap div {
  width: 75%;
  display: flex;
  justify-content: flex-end;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.horizon_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 10px;
}
.horizon_info span {
  padding: 3px;
  font-size: 12px;
  font-weight: bold;
}

.result {
  display: block;
  font-weight: bold;
  text-align: center;
}

.result_info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}
.result_info span {
  font-size: 15px;
}
.naver_info {
  /* background-color: bisque;
  box-shadow: 0px 3px 6px -3px black; */
  /* padding: 10px; */
  border-radius: 50px;
  /* margin-top: 10px; */
  text-align: center;
}
.naver_info span {
  font-weight: bold;
  font-size: 16px;
}

.naver_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 15px 0px;
  margin-top: 15px;
  width: 75%;
  height: 100%;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 5px 3px -5px black;
}
.naver_box--adjustment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.adjust--quantity {
  display: flex;
  border: 1px solid #dde0e3;
}

.naver_box--option {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
  padding-top: 20px;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.operator,
.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #f1f2f4;
}
.operator {
  font-size: 20px;
}
.quantity {
  font-weight: bold;
  width: 50px;
  background-color: white;
}
.naver-box--price {
  font-weight: bold;
}

.naver_link {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3ec910;
  color: white;
  padding: 15px 50px;
  border-radius: 15px;
  box-shadow: 0px 5px 3px -5px black;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
}
.hide {
  opacity: 0;
  height: 0px;
  padding: 0px;
  /* visibility: hidden; */
  /* display: none; */
}

.active {
  margin: 10px;
  border-radius: 20px;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 3px 3px -3px black;
  display: block;
  height: 100%;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.submit_btn input:hover {
  /* background-color: tomato; */
  /* padding: 10px; */
  border: 2px solid #ff9999;
  border-radius: 50px;
  /* outline: none; */
}
