@import "variables.css";
@import "reset.css";

body {
  background-color: antiquewhite;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 100vh;
  width: 100vw;
  transition: all 0.5s ease-in-out;
}

header {
  /* width: 300px; */
  text-align: center;
  padding: 15px 70px;
  border-radius: 10px;
  font-size: 25px;
  background-color: white;
  margin-bottom: 10px;
  box-shadow: var(--main-shadow);
}

label {
  width: 80px;
  text-align: center;
}

.option_box {
  display: flex;
  flex-direction: column;
  height: 40%;
}

.option_tap {
  display: flex;
  justify-content: space-between;
  height: 35%;
  align-items: center;
  margin-bottom: 5px;
  /* padding: 15px; */
  padding-right: 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.option_tap:nth-child(4) {
  padding: 10px 0px;
  padding-right: 10px;
}
.option_tap:nth-child(4) > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option_tap:nth-child(4) input {
  margin: 3.5px;
}

.option_tap:hover {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.option_title {
  font-size: 18px;
}

.option_tap:focus-within {
  background-color: white;
  /* padding: 15px; */
  padding-right: 10px;
  border-radius: 10px;
  box-shadow: var(--main-shadow);
}

select,
input {
  border: 0.5px solid black;
  border-radius: 50px;
  width: 250px;
  text-align: center;
  text-align-last: center;
  padding: 10px 0px;
  margin-left: 20px;
  transition: padding 0.2s ease-in-out;
}

select:focus,
input:not(.submit_btn):focus {
  outline: none;
  border: 1px solid tomato;
  padding: 10px 0px;
}

.submit_btn {
  width: 100%;
  height: 10%;
  padding: 10px;
  margin-left: 0px;
  margin-top: 10px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.submit_btn:focus {
  outline: none;
  opacity: 0.8;
}

.submit_btn:hover {
  background-color: #ff9999;
  border: 2px solid white;
  color: white;
  cursor: pointer;
}

.hide {
  opacity: 0;
  visibility: hidden;
  /* transform: translateX(50%); */
}

.active {
  visibility: visible;
  opacity: 1;
}

/* FIXME: 여기서부터 결과 & 네이버 탭 */

.result_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 50%;
  margin-top: 25px;
  padding: 25px;
  border-radius: 10px;
  background-color: white;
  box-shadow: var(--main-shadow);
  transition: all 0.5s ease-in-out;
}

.naver_item_container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border-top: var(--naver-border);
  border-bottom: var(--naver-border);
}

.naver_item_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 50%; */
  padding: 0px;
  /* overflow: hidden; */
}

.naver_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px;
  list-style: none;
  border-radius: 10px;
  box-shadow: 0px 0px 6px -5px black;
}
.naver_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 0px;
  /* border-top: var(--naver-border); */
}

.naver_box--option {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-top: 20px;
  /* border-top: var(--naver-border); */
  font-size: 14px;
}

.naver_box--adjustment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
  /* border-bottom: var(--naver-border); */
}

.adjust--quantity {
  display: flex;
  border: 1px solid #dde0e3;
}

.operator,
.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #f1f2f4;
  font-size: 20px;
  font-weight: bold;
}
.quantity {
  width: 50px;
  background-color: white;
  font-size: 18px;
}

.naver-box--price {
  font-weight: bold;
}

.total-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3% 0%;
  width: 100%;
}

.total-price--value {
  display: block;
  color: #6b91db;
  font-size: 130%;
  font-weight: bold;
  /* padding: 0px 35px; */
}

.result_box a {
  width: 90%;
}

.result_box span:not(:nth-child(2)) {
  margin: 10px 0px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.jsDeleteBtn {
  width: 20px;
  height: 20px;
  font-size: 10px;
  outline: none;
  border: 1px solid black;
  background-color: white;
  color: black;
  transition: background-color 0.1s linear;
  border-radius: 5px;
  box-shadow: 0px 4px 4px -5px black;
  text-align: center;
}
.jsDeleteBtn:hover {
  background-color: #ff9999;
  color: white;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
}

.naver_link:hover {
  background-color: #54ed22;
}

.naver_link {
  text-align: center;
  /* width: 100%; */
  /* margin-top: 25px; */
  padding: 15px 50px;
  color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 3px -5px black;
  background-color: var(--naver-logo-color);
  transition: all 0.5s ease-in-out;
}

.hide-option {
  display: none;
}

@media (max-width: 600px) {
  main {
    margin-top: 0px;
    justify-content: space-around;
  }
  header {
    position: fixed;
    width: 100%;
    top: 0%;
    padding: 3% 0px;
    border-radius: 0%;
    font-size: 16px;
  }
  .option_box {
    margin-top: 10%;
    width: 80%;
    height: 30%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }
  .option_title {
    font-size: 15px;
  }
  .option_tap {
    height: 18%;
  }
  .option_tap:not(:nth-child(4)) {
    height: 13%;
  }
  .option_tap:nth-child(4) {
    padding-top: 10px;
    padding-bottom: 13px;
  }
  .option_tap:nth-child(4) div {
    width: 50%;
  }
  .option_tap:nth-child(4) input {
    width: 100%;
  }
  .result_box {
    width: 100%;
    height: 65%;
    margin-top: 0px;
    padding: 0px;
    border-radius: 0px;
  }
  .naver_link {
    margin: 0%;
    /* margin-top: 10px; */
    width: 100%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
  }
  .result_box a {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  select,
  input {
    width: 50%;
    padding: 5px 0px;
  }
  .result {
    /* font-size: 20px; */
  }

  .submit_btn {
    margin-top: 10px;
    font-size: 13px;
    padding: 5px;
    height: 10%;
    margin: 6px 0px;
  }

  .result:nth-child(2) {
    font-size: 15px;
  }
  .total-price {
    box-sizing: border-box;
    padding: 2% 5%;
  }
  .total-price--value {
    font-size: 15px;
  }
}

@media (min-width: 1100px) {
  header {
    position: absolute;
    top: 20%;
    width: 50%;
  }
  main {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .option_box {
    width: 35%;
  }
  .result_box {
    width: 35%;
  }
  select,
  input {
    width: 50%;
    padding: 10px 0px;
  }

  .option_tap:nth-child(4) > div {
    width: 50%;
    margin-left: 20px;
  }
  .option_tap:nth-child(4) input {
    width: 100%;
  }

  .option_tap {
    justify-content: space-around;
  }
}
